extends layout

block content
  h1= title
  p.header Welcome to #{title}
  p
    div.demo-container
        img(id="catImage", width="400", height="300", src="/images/DSC00355.JPG")
  p
  p.footer
    a(class="footer", href='https://trackingjs.com/') Based on the examples at tracking.js
 
