doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/tracking/build/tracking.js')
    script(src='/tracking/build/data/mouth-min.js')
    script(src='/javascript/tracker/trackmulti.js')
    script(src='/javascript/tracker/trackcustom.js')
 
  body
    block content
